body{
    background-image: url('../img/background.jpg');
    color: white;
    text-align: center;
    font : 2em "Open Sans", sans-serif;
    margin: auto;
    margin-top: 2em;
    overflow-wrap: break-word;
    height: 50vw;
  }
  
  header{
    display: flex;
      flex-wrap:  wrap;
    justify-content: space-around;
    margin-bottom: 1em;
  }
  
  #gameHeart{
    display: flex;
      flex-wrap:  wrap;
    justify-content: space-around;
    height: 30vw;
  }
  
  #smallImg{
      max-width: 10vw;
      height: auto;
  }
  
  #game-state-div{
    width: 15%;
    height: 100%;
    padding: 0.2em;
  }
  
  #question-div{
    width: 15%;
    height: 100%;
    justify-content: center;
  }
  
  .neonPink{
      color: #fff;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #D18ACA,
            0 0 82px #D18ACA,
            0 0 92px #D18ACA,
            0 0 102px #D18ACA,
            0 0 151px #D18ACA;
  }
  
    .imgbox {
    display: grid;
    height: 100%;
    width: 65%;
    }
  
    .center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    }
  